<?xml version='1.0' encoding='utf-8'?>
<widget id="im.mobile.hive" version="1.0.0">
	<name>Chax</name>
	<description>Chax</description>
	<author email="hello@chaxapp.com" href="http://www.chaxapp.com">Chax Team</author>
	<access origin="*" />
	<gap:plugin name="org.apache.cordova.statusbar" />
	<gap:plugin name="org.apache.cordova.splashscreen" />
	<preference name="Orientation" value="portrait" />
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="SuppressesIncrementalRendering" value="true" />
	<preference name="AutoHideSplashScreen" value="false" />
	<preference name="ShowSplashScreenSpinner" value="false" />
	<preference name="StatusBarStyle" value="lightcontent" />
	<platform name="ios">
		<icon src="resources/ios/icons/icon-60@2x.png" width="120" height="120" />
		<splash src="resources/ios/splash/Default-667h.png" width="750" height="1334" />
	</platform>
</widget>