<?xml version='1.0' encoding='utf-8'?>
<widget id="im.mobile.hive" version="1.0.0">
	<name>Chax</name>
	<description>Chax</description>
	<author email="hello@chaxapp.com" href="http://www.chaxapp.com">Chax Team</author>
	<access origin="*" />
	<gap:plugin name="br.com.dtmtec.plugins.carrier" />
	<gap:plugin name="de.appplant.cordova.plugin.badge" />
	<gap:plugin name="cordova-plugin-camera" />
	<gap:plugin name="cordova-plugin-device-motion" />
	<gap:plugin name="cordova-plugin-network-information" />
	<gap:plugin name="nl.x-services.plugins.toast" />
	<gap:plugin name="cordova-plugin-dialogs" />
	<preference name="Orientation" value="portrait" />
	<preference name="HideKeyboardFormAccessoryBar" value="true" />
	<preference name="SuppressesIncrementalRendering" value="true" />
	<platform name="ios">
		<icon src="resources/ios/icons/icon-60@2x.png" width="120" height="120" />
		<splash src="resources/ios/splash/Default-667h.png" width="750" height="1334" />
	</platform>
</widget>